<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="memberMapper">
	
	<resultMap type="student" id="loginStudentMap">
		<result column="STUDENT_NO" property="studentNo"/>
		<result column="DEPARTMENT_NAME" property="departmentNo"/>
		<result column="COLLEGE_NAME" property="collegeNo"/>
		<result column="FILE_NO" property="fileNo"/>
		<result column="STUDENT_NAME" property="studentName"/>
		<result column="STUDENT_PWD" property="studentPwd"/>
		<result column="ENTRANCE_DATE" property="entranceDate"/>
		<result column="GRADUATION_DATE" property="graduationDate"/>
		<result column="CLASS_LEVEL" property="classLevel"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="POST" property="post"/>
		<result column="ADDRESS" property="address"/>
		<result column="STATUS" property="status"/>
	</resultMap>
  
  	<resultMap type="professor" id="loginProfessorMap">
  		<result column="PROFESSOR_NO" property="professorNo"/>
  		<result column="FILE_NO" property="fileNo"/>
  		<result column="DEPARTMENT_NAME" property="departmentNo"/>
  		<result column="COLLEGE_NAME" property="collegeNo"/>
  		<result column="PROFESSOR_NAME" property="professorName"/>
  		<result column="PROFESSOR_PWD" property="professorPwd"/>
  		<result column="POSITION" property="position"/>
  		<result column="ENTRANCE_DATE" property="entranceDate"/>
  		<result column="PHONE" property="phone"/>
  		<result column="EMAIL" property="email"/>
  		<result column="POST" property="post"/>
  		<result column="ADDRESS" property="address"/>
  		<result column="ACCOUNT_NO" property="accountNo"/>
  		<result column="ADMIN" property="admin"/>
  	</resultMap>
  
  	<resultMap type="classes" id="classResultMap">
  		<result column="CLASS_NO" property="classNo"/>
  		<result column="PROFESSOR_NAME" property="professorNo"/>
  		<result column="DEPARTMENT_NAME" property="departmentNo"/>
  		<result column="FILE_NO" property="fileNo"/>
  		<result column="CLASS_NAME" property="className"/>
  		<result column="CLASS_LEVEL" property="classLevel"/>
  		<result column="CLASS_YEAR" property="classYear"/>
  		<result column="CLASS_TERM" property="classTerm"/>
  		<result column="CLASSROOM" property="classroom"/>
  		<result column="DAY" property="day"/>
  		<result column="PERIOD" property="period"/>
  		<result column="CLASS_HOUR" property="classHour"/>
  		<result column="CLASS_NOS" property="classNos"/>
  		<result column="EXPLAIN" property="explain"/>
  		<result column="CREDIT" property="credit"/>
  		<result column="DIVISION" property="division"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  
  	<resultMap type="registerClass" id="registerClassMap">
  		<result column="COLLEGE_NAME" property="collegeName"/>
  		<result column="CLASS_NO" property="classNo"/>
  		<result column="CLASS_NAME" property="className"/>
  		<result column="PROFESSOR_NAME" property="professorName"/>
  		<result column="DEPARTMENT_NAME" property="departmentName"/>
  		<result column="CREDIT_HOUR" property="creditHour"/>
  		<result column="CLASS_NOS" property="classNos"/>
  		<result column="CLASS_INFO" property="classInfo"/>
  		<result column="CLASS_LEVEL" property="classLevel"/>
  	</resultMap>
  
  	<!-- 학생 로그인 -->
  	<select id="loginStudent" parameterType="student" resultMap="loginStudentMap">
  		SELECT STUDENT_NO,D.DEPARTMENT_NAME,C.COLLEGE_NAME,FILE_NO,STUDENT_NAME,STUDENT_PWD,
               ENTRANCE_DATE,GRADUATION_DATE,CLASS_LEVEL,PHONE,EMAIL,POST,ADDRESS
  		FROM STUDENT S
  		JOIN DEPARTMENT D ON (S.DEPARTMENT_NO = D.DEPARTMENT_NO) 
        JOIN COLLEGE C ON (S.COLLEGE_NO = C.COLLEGE_NO)
  		WHERE STUDENT_NO = #{studentNo}
  	</select>
  	
  	<!-- 임직원 로그인 -->
  	<select id="loginProfessor" parameterType="professor" resultMap="loginProfessorMap">
  		SELECT PROFESSOR_NO,FILE_NO,D.DEPARTMENT_NAME,C.COLLEGE_NAME,PROFESSOR_NAME
  			  ,PROFESSOR_PWD,POSITION,ENTRANCE_DATE,PHONE,EMAIL,POST,ADDRESS,ACCOUNT_NO,ADMIN
  		FROM PROFESSOR P
        JOIN DEPARTMENT D ON (P.DEPARTMENT_NO = D.DEPARTMENT_NO)
        JOIN COLLEGE C ON (P.COLLEGE_NO = C.COLLEGE_NO)
  		WHERE PROFESSOR_NO = #{professorNo}
  	</select>
  
  	<!-- ID조회 - 학생 -->
  	<select id="checkEmail" parameterType="student" resultMap="loginStudentMap">
  		SELECT STUDENT_NO,PHONE,EMAIL
  		FROM STUDENT
  		WHERE STUDENT_NAME = #{studentName}
  		AND PHONE = #{phone}
  		AND STATUS = '재학'
  	</select>
  	
  	<!-- ID조회 - 임직원 -->
  	<select id="checkEmail2" parameterType="professor" resultMap="loginProfessorMap">
  		SELECT PROFESSOR_NO,PHONE,EMAIL
  		FROM PROFESSOR
  		WHERE PROFESSOR_NAME = #{professorName}
  		AND PHONE = #{phone}
  		AND STATUS = 'Y'
  	</select>
  	
  	<!-- 비밀번호 초기화 - 학생 -->
  	<select id="checkPwd" parameterType="student" resultMap="loginStudentMap">
		SELECT STUDENT_NO,PHONE,EMAIL
  		FROM STUDENT
  		WHERE STUDENT_NO = #{studentNo}
  		AND PHONE = #{phone}
  		AND STATUS = '재학'
  	</select>
  	
  	<!-- 비밀번호 초기화 - 임직원 -->
  	<select id="checkPwd2" parameterType="professor" resultMap="loginProfessorMap">
  		SELECT PROFESSOR_NO,PHONE,EMAIL
  		FROM PROFESSOR
  		WHERE PROFESSOR_NO = #{professorNo}
  		AND PHONE = #{phone}
  		AND STATUS = 'Y'
  	</select>
  	
  	<!-- 비밀번호 초기화 - 비밀번호 변경 메소드 (학생) -->
  	<update id="changePwd">
  		UPDATE STUDENT
  		SET STUDENT_PWD = #{studentPwd}
  		WHERE STUDENT_NO = #{studentNo} 
  		AND STATUS = '재학'
  	</update>
  
  	<!-- 비밀번호 초기화 - 비밀번호 변경 메소드 (임직원) -->
  	<update id="changePwd2">
  		UPDATE PROFESSOR
  		SET PROFESSOR_PWD = #{professorPwd}
  		WHERE PROFESSOR_NO = #{professorNo} 
  		AND STATUS = 'Y'
  	</update>
  	
  	  	<!-- 단과대학 전공 조회  -->
  	<select id="selectDepartment" resultType="string">
  		SELECT DEPARTMENT_NAME
		FROM DEPARTMENT
		WHERE COLLEGE_NO = (SELECT COLLEGE_NO
		                    FROM COLLEGE
		                    WHERE COLLEGE_NAME = #{college})
  	</select>
  	
  	<!-- 수강신청 - 학부전공별 조회 -->
  	<select id="majorClass" parameterType="classes" resultMap="registerClassMap">
  		SELECT COLLEGE_NAME,CLASS_NO,CLASS_NAME,PROFESSOR_NAME,DEPARTMENT_NAME
        ,CONCAT(CONCAT(CLASS_HOUR,'/'),CREDIT) "CREDIT_HOUR",CLASS_NOS
        ,(DECODE(DAY,1,'월',2,'화',3,'수',4,'목',5,'금')||' '||
          DECODE(CLASS_HOUR,1,DECODE(PERIOD,1,'09:00~10:00',2,'10:00~11:00',3,'11:00~12:00',4,'12:00~13:00',5,'13:00~14:00',6,'14:00~15:00',7,'15:00~16:00',8,'16:00~17:00',9,'17:00~18:00',10,'18:00~19:00'),
                            2,DECODE(PERIOD,1,'09:00~11:00',2,'10:00~12:00',3,'11:00~13:00',4,'12:00~14:00',5,'13:00~15:00',6,'14:00~16:00',7,'15:00~17:00',8,'16:00~18:00',9,'17:00~19:00')) 
		||' '|| CLASSROOM) "CLASS_INFO",
		DECODE(CLASS_LEVEL,0,'전체학년',1,'1학년',2,'2학년',3,'3학년',4,'4학년') "CLASS_LEVEL"
		FROM CLASS C
		JOIN DEPARTMENT D ON (C.DEPARTMENT_NO = D.DEPARTMENT_NO)
		JOIN COLLEGE CO ON (D.COLLEGE_NO = CO.COLLEGE_NO)
		JOIN PROFESSOR P ON (P.PROFESSOR_NO = C.PROFESSOR_NO)
		WHERE C.STATUS = 'Y'
		AND DEPARTMENT_NAME = #{departmentName}
		ORDER BY CLASS_NO
  	</select>
  	
  	  	<select id="selectDepartmentMajor" parameterType="hashmap" resultMap="classResultMap">
  		SELECT CLASS_NO, PROFESSOR_NAME, DEPARTMENT_NAME, C.FILE_NO, CLASS_NAME, CLASS_LEVEL, CLASS_YEAR, CLASSROOM
  				, DECODE(DAY, '1', '월', '2', '화', '3', '수', '4', '목', '5', '금') AS DAY
  				, DECODE(PERIOD, '1', 9, '2', 10, '3', 11, '4', 12, '5', 13, '6', 14, '7', 15, '8', 16, '9', 17, '10', 18)||':00 ~ '||(DECODE(PERIOD, '1', 9, '2', 10, '3', 11, '4', 12, '5', 13, '6', 14, '7', 15, '8', 16, '9', 17, '10', 18)+CLASS_HOUR)||':00' AS PERIOD
  				, CLASS_HOUR, CLASS_NOS, EXPLAIN, CREDIT, DIVISION, C.STATUS
		FROM CLASS C
		LEFT JOIN PROFESSOR P USING(PROFESSOR_NO)
		LEFT JOIN DEPARTMENT D ON(C.DEPARTMENT_NO = D.DEPARTMENT_NO)
		WHERE C.DEPARTMENT_NO = (SELECT DEPARTMENT_NO
		                        FROM DEPARTMENT
		                        WHERE DEPARTMENT_NAME = #{department})
		      AND CLASS_YEAR = #{year} AND CLASS_TERM = #{term} AND C.STATUS = 'Y'
		ORDER BY TO_CHAR(CLASS_LEVEL)
  	</select>
  	
  	<select id="selectClassTerm" resultType="string">
  		SELECT CLASS_YEAR||'0'||CLASS_TERM
		FROM CLASS
		GROUP BY CLASS_YEAR, CLASS_TERM
  	</select>
  	
  </mapper>