<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.univ.fin.member.model.vo.Student" alias="student"/>
		<typeAlias type="com.univ.fin.member.model.vo.Professor" alias="professor"/>
		<typeAlias type="com.univ.fin.money.model.vo.Salary" alias="salary"/>
		<typeAlias type="com.univ.fin.money.model.vo.Scholarship" alias="scholarship"/>
		<typeAlias type="com.univ.fin.money.model.vo.RegistPay" alias="registpay"/>
		<typeAlias type="com.univ.fin.common.model.vo.Classes" alias="classes"/>
		<typeAlias type="com.univ.fin.common.model.vo.RegisterClass" alias="registerClass"/>
		<typeAlias type="com.univ.fin.common.model.vo.Department" alias="department"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/money-mapper.xml"/>
	</mappers>

</configuration>