@charset "UTF-8";



.c_content div {
		box-sizing: border-box;
}

#content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c_content {
	width: 90%;
	height: 85%;
}

.c_content>div {
	float: left;
}

.c_content_1 {
	width: 64%;
	height: 100%;
}

.c_content_2 {
	width: 3%;
	height: 100%;
}

.c_content_3 {
	width: 32%;
	height: 100%;
}

.c_content_11, .c_content_31, .c_content_33 {
	width: 100%;
	height: 47.5%;
	border: 1px solid black;
}

.c_content_13{
	width: 100%;
	height: 47.5%;
}

.c_content_13_1, .c_content_13_3{
	border: 1px solid black;
	width:47%;
}

.c_content_13_2{
	width:6%;
}

.c_content_13>div{
	float:left;
	height: 100%;
	
}

.c_content_12, .c_content_32 {
	width: 100%;
	height: 5%;
}

.c_content_111 {
	width: 100%;
	height: 40%;
}

.c_content_112 {
	width: 100%;
	height: 100%;
}

.c_content_111>table {
	width: 100%;
	height: 100%;
}

.c_content_1121 {
	width: 100%;
	height: 14%;
	display: flex;
	align-items: center;
}

.c_content_1122 {
	width: 100%;
	height: 86%;
}

.c_content_131 {
	width: 100%;
	height: 14%;
	display: flex;
	align-items: center;
}

.c_content_132 {
	width: 100%;
	height: 86%;
}

.c_content_311, .c_content_331 {
	width: 100%;
	height: 14%;
	display: flex;
	align-items: center;
}

.c_content_1121>span {
	margin-left: 5%;
	font-size: large;
	font-weight: bold;
}

.c_content_131>span {
	margin-left: 5%;
	font-size: large;
	font-weight: bold;
}

.c_content_311>span, .c_content_331>span {
	margin-left: 3%;
	font-size: large;
	font-weight: bold;
}

.c_content_131>a {
	margin-left: auto;
	margin-right: 3%;
}

.c_content_311>a, .c_content_331>a {
	margin-left: auto;
	margin-right: 2%;
}

.c_content_312, .c_content_332 {
	width: 100%;
	height: 86%;
}

.c_content_1122, .c_content_312, .c_content_332 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.c_content_1122_table-area, .c_content_312_table-area, .c_content_332_table-area, .c_content_1321_table-area {
	width: 95%;
	height: 85%;
	overflow-y: auto;
}

.c_content_1122_table-area>table, .c_content_312_table-area>table, .c_content_332_table-area>table, .c_content_1321_table-area>table {
	width: 100%;
	text-align: center;
}

.c_content_1122_table-area>table>thead>tr, .c_content_312_table-area>table>thead>tr, .c_content_1321_table-area>table>thead>tr,
.c_content_332_table-area>table>thead>tr {
	background-color: #88C1E3;
}

#today-date {
	margin: 0 5%;
	font-size: 18px;
}

.c_content_1321 {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.c_content_1321>a>i:hover {
	cursor: pointer;
}

.c_content_1322 {
	width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#today-class {
	width: 80%;
	height: 80%;
	border: 1px solid black;
	text-align: center;
	font-size: 18px;
	line-height: 2;
	margin: 0;
	padding: 5%;
}

.text-limit{
	white-space:nowrap;  
	text-overflow:ellipsis; 
	overflow:hidden;
}