#content_title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 10.8%;
	font-size: 30px;
	font-weight: 500;
	margin-left: 4%;
}

#content_top {
	border-top: 2px solid lightblue;
	width: 100%;
}

#content_middle {
	width: 90%;
	border: 2px solid black;
	margin-top: 5%;
}

#content_middle>* {
	margin: 5%;
}

#content_middle>table #startDate, #content_middle>table #endDate {
	width: 40%;
}

#content_middle>table input {
	width: 95%;
	border: none;
}

#content_middle>table>tbody td:nth-child(2n) {
	width: 33%;
}

#content_middle>table>tbody td:nth-child(2n+1) {
	width: 17%;
}

#btn_area {
	text-align: center;
}

#btn_area>button {
	margin-left: 20px;
}

#rest_list>tbody tr:hover {
	background-color: #E2E2E2;
	font-weight: 550;
}

#rest_list>thead {
	background-color: #b8f8fb;
	color: 1b315e;
}