@charset "UTF-8";

/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
.fc-header-toolbar {
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.fc-button-primary {
	background-color: white !important;
	color: black !important;
	border: 2px solid #ffbf00 !important;
	font-weight: bold !important;
}

.fc-button-active{
	border-color: #ffbf00 !important;
	background-color: #ffbf00 !important;
	color: black !important;
	font-weight: bold !important;
}

.fc-button-primary:active {
	border: none;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion {
	color: black;
}

.fc-day-mon a:hover, .fc-day-tue a:hover, .fc-day-wed a:hover, .fc-day-thu a:hover, .fc-day-fri a:hover {
	color: black;
	text-decoration: none;
}

/* 일요일 날짜 빨간색 */
.fc-day-sun a {
	color: red;
}

.fc-day-sun a:hover {
	color: red;
	text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
	color: blue;
}

.fc-day-sat a:hover {
	color: blue;
	text-decoration: none;
}

.fc-daygrid-day-number {
	cursor: pointer;
}

/*more버튼*/ 
.fc-daygrid-more-link.fc-more-link {
	color: #000;
	font-weight: bold;
}

.fc-event-title-container {
	font-size: 13px;
}

.fc-event-title-container:hover {
	cursor: pointer;
}

#calendar-container {
	width: 100%;
	height: 93%;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

#calendar {
	width: 100%;
	height: 100%;
}

.btn-area {
	width: 100%;
		height: 7%;
	display: flex;
		align-items: center;
	justify-content: center;
}

#btn {
	width: 100px;
	height: 35px;
	border-radius: 10px;
	background-color: #ffbf00;
	border: 0;
	font-weight: bold;
}

.modalBtn-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

#insert {
	margin: 0 auto;
}

#update, #delete {
	margin: 0 3%;
}