@charset "UTF-8";

/*===========카테고리 영역=============*/
#cate_title{
 	display: flex;
     align-items: center;
     width: 100%;
     height: 9%;
     font-size: 35px;
     border-bottom: 1px solid black;
 }
 #cate_title>h3{
     margin: 0 auto;
 }
 .child_title{
     display: flex;
     align-items: center;
     width: 100%;
     height: 6%;
     border-bottom: 1px solid black;
     text-align: center;
     font-size: 25px;
 }
 .child_title a{
     margin-left: 50px;
     text-decoration: none;
     color: black;
 }