#main_div{
    position: relative;
    width: 100%;
    height: 100%;
}

.subDiv{
    position: relative;
    margin-bottom: 10px;
    padding : 10px 15px;
}

#main_div hr{
    margin: 5px 0px;
}

#sub_div1{
    position: relative;
    width: 100%;
    height: 18.5%;
}

#sub_div2{
    position: relative;
    width: 100%;
    height: 21%;
}

#sub_div3{
    position: relative;
    width: 100%;
    height: 57%;
}

.mainSpan{
    font-size: 19px;
}

#commentSpan{
    float: right;
    color: #e65f3e;
}

#sub_div1>table{
    margin-top: 10px;
    text-align: right;
    width: 100%;
}

#sub_div1>table td{
    width: 100px;
    padding-right: 30px;
}

#sub_div1>table input{
    width: 130px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgba(118, 118, 118, 0.3);
    text-indent: 5px;
}

#sub_div1>table input:focus{
    outline: none;
}

#sub_div1>table input:hover{
    cursor: auto;
}

#infoDiv{
    border: 1px solid black;
    padding: 10px 0px 10px 10px;
    margin: 10px 30px 0px;
    font-size: 14px;
}

#statusTable{
    margin-top: 10px;
    width: 100%;
    height: 90%;
    text-align: center;
}

.tableLine{
    background-color: gainsboro;
}

.tableBtn{
    background-color: gainsboro;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

p{
    margin: 0px !important;
}

#modalArea{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 1100px;
    min-height: 100%;
    top: 0;
    left: 0;
    bottom: auto;
    display: none;
}

#commonModal{
    display: none;
}

#nomalModal{
    display: none;
}

#majorModal{
    display: none;
}

.modalDiv{
    position: relative;
    background-color: aliceblue;
    width: 750px;
    height: 800px;
    top: 94px;
    box-shadow: 1px 0px 20px 3px #000000a7;
}

.modalDiv hr{
    margin: 0px;
}

#commonModal{
    border: 1px solid black;
    border-radius: 10px;
}

#nomalModal{
    border: 1px solid black;
    border-radius: 10px;
}

#majorModal{
    border: 1px solid black;
    border-radius: 10px;
}

.common{
    width: 100%;
}

#commonHeader{
    background-color: rgb(52, 152, 219);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-radius: 9px 9px 0px 0px;
}

#commonBody{
    height: 450px;
    margin-bottom: 10px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.subLine{
    padding: 10px 10px 0px 10px;
}

.subLine span{
    font-size: 15px;
}

#comBodyTable{
    border: 1px solid black;
    width: 100%;
    text-align: left;
    text-indent: 10px;
    margin-top: 10px;
}

#comBodyTable>thead{
    background-color: rgb(52, 152, 219);
    color: white;
}

#comBodyTable>tbody>tr{
    height: 40px;
}

#commonBody2{
    height: 170px;
    padding: 10px;
    font-size: 13px;
}

#commonFooter{
    height: 50px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

#commonFooter>button{
    background-color: white;
    border: 2px solid rgb(52, 152, 219);
    width: 70px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    padding: 0px;
}

#commonFooter>button:hover{
    box-shadow: 1px 1px 1px #000000;
}

#modalClose{
    margin-left: auto;
    background-color: transparent;
    border: 0px;
    width: 35px;
    height: 100%;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#modalClose:hover{
    text-shadow: 1px 1px 5px black;
}

#nomBodyTable{
    border: 1px solid black;
    width: 100%;
    text-align: left;
    text-indent: 10px;
    margin-top: 10px;
}

#nomBodyTable>thead{
    background-color: rgb(52, 152, 219);
    color: white;
}

#nomBodyTable>tbody>tr{
    height: 40px;
}

#majorBodyTable{
    border: 1px solid black;
    width: 100%;
    text-align: left;
    text-indent: 10px;
    margin-top: 10px;
}

#majorBodyTable>thead{
    background-color: rgb(52, 152, 219);
    color: white;
}

#majorBodyTable>tbody>tr{
    height: 40px;
}