@charset "UTF-8";

.b_line {
        border: 0.5px solid lightgray;
        margin: 20px 0px;
}

.page_title {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}

.wholeGrade-area {
    width: 100%;
    height: 30%;
    overflow: auto;
}

.transcript {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transcript * {
    margin: 0 7px;
}

.transcript>input {
    width: 150px;
}

.selectTerm {
    display: flex;
    align-items: center;
}

.selectTerm * {
    margin-left: 10px;
}

#selectList {
    border-radius: 10px;
    margin-left: 20px;
}

.termGrade-area {
    width: 100%;
    height: 33%;
    overflow: auto;
}

.wholeGrade-table, .termGrade-table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.wholeGrade-table>thead, .termGrade-table>thead {
	background-color: #88C1E3;
    position: sticky;
    top: 0;
}

.wholeGrade-table>thead>tr, .termGrade-table>thead>tr {
	font-size: 17px;
}

.wholeGrade-table>tbody>tr, .termGrade-table>tbody>tr {
	border-bottom: 0.5px solid gray;
	height: 30px;
}

.wholeGrade-table th, .wholeGrade-table td, .termGrade-table th, .termGrade-table td {
	border-left: 1px solid gray;
}