@charset "UTF-8";

/*=================div 기본 설정=================*/
 div{
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: auto;
    margin: auto;
}
.wrap>div{
    width: 100%;
    height: auto;
}

/*=================기본 영역 설정=================*/
body {
	margin: 0;
	padding-top: 200px;
}
#header{
	display: block;
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
	border-bottom: 2px solid rgb(59, 193, 255);
}
#content{
    width: 100%;
    height: auto;
}

/*=================content 세부 영역 설정=================*/
h3{
    margin: 0%;
}

#content_title{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
	color: white;
	background-color: rgb(59, 193, 255);
}

#calendar{
	width: 90%;
	margin: 50px auto;
}

.fc-toolbar-title{
	float: left;
}

.fc-prev-button,
.fc-next-button{
	background-color: #ffc133 !important;
	border: 1px solid #ffc133 !important;
}

.fc-prev-button:hover,
.fc-next-button:hover{
	background-color: #ff9e33 !important;
	border: 1px solid #ff9e33 !important;
	transition: all 0.1s ease-out;
}
table{
	position: relative !important;
	background-color: white !important;
	z-index: -1 !important;
}
td{
	background-color: white !important;
}