#content_title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 10.8%;
	font-size: 30px;
	font-weight: 500;
	margin-left: 4%;
}

#board_border>.board_list {
	width: 90%;
	margin-top: 20px;
	text-align: center;
}



.board_list>tbody>tr>td {
	width: 25%;
}

.board_list input, select {
	width: 100%;
	border: none;
	text-align: center;
}

.board_list select {
	margin-left:7px;
}

#board_border>table {
	margin: 5%;
}

#board_border {
	margin-top: 5%;
	width: 90%;
	border: 2px solid black;
}

.board_list>tbody td:nth-child(2n+1) {
	background-color: #d3d3d3;
}